@charset "utf-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Italic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 100;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-ThinItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Thin.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-ExtraLight.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-ExtraLightItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Light.ttf]]) format("truetype");
}

@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-LightItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-MediumItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Medium.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-SemiBoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-SemiBold.ttf]]) format("truetype");
}

@font-face {
    font-weight:700;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-BoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight:800;
    font-style: normal;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-ExtraBold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: "Sarabun";
    src: url([[font:theme|Sarabun-ExtraBoldItalic.ttf]]) format("truetype");
}


@font-face {
    font-weight: 100;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-ThinItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Thin.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-ExtraLight.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-ExtraLightItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Light.ttf]]) format("truetype");
}

@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-LightItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-MediumItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Medium.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-SemiBoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-SemiBold.ttf]]) format("truetype");
}

@font-face {
    font-weight:700;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-BoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight:800;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-ExtraBold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-ExtraBoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight:900;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Black.ttf]]) format("truetype");
}

@font-face {
    font-weight: 900;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-BlackItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: italic;
    font-family: "Raleway";
    src: url([[font:theme|Raleway-Italic.ttf]]) format("truetype");
}
