// Import fonts
@import "fonts";

body {
    font-family: "Sarabun";
}

#page-footer {
    border-top : solid 5px #003a5d;
    background-color: #fff !important;
}

#page-footer * {
    color :  #003a5d !important;
}

.list-group-item.active {
    background-color : #003a5d;
    border-color : #003a5d;
    color : #fff;
}

h1, h2, h3 {
    color: #003a5d;
    font-family: "Raleway";
}
